<h2 class="text-center">AngularJS Boilerplate</h2>

<h3>App test</h3>
<uploader load-file="main.loadFile" upload-file="main.uploadFile"></uploader>
<list data=main.data></list>

<div class="text-center">
    <small>Test Full stack app Fiestify</small>
</div>

