<div class="container cf">
    <div>
       <h2>1. Setup</h2>
       <code>npm install</code><br>
       <code>bower install</code><br>
       - Instalar paquetes npm y bower<br>

       <h2>2. Generacion bundle de produccion</h2>
       <code>npm run build</code><br>
       - Este proceso realiza:<br>
       * Limpieza fichero previo _build<br>
       * Compila y minifica ficheros de estilos<br>
       * copia y optimiza imagenes<br>
       * minifica y genera el fichero para acceder con $templateCache<br>
       * Construye el nuevo index.html<br>
       * minifica y copia los ficheros JS<br>
       * copia las fuentes<br>

       <h2>3. Ejecucion de la aplicacion cliente</h2>
       <code>gulp server</code>

       <h2>4. Ejecucion de la aplicacion desde el bundle</h2>
       <code>gulp server-build</code>
       - IMPORTANTE: No lanza el servidor de backend<br>

       <h2>5. Ejecucion de la aplicacion desde el bundle</h2>
       <code>gulp server-build</code>
       - IMPORTANTE: No lanza el servidor de backend<br>

       <h2>6. Ejecucion de la aplicacion completa</h2>
       <code>npm run bundle</code>
       - Genera bundle y lanza la aplicacion en el puerto 8000<br>
    </div>
</div>
