<div>
    <label for="uploader">Añadir CSV</label>
    <input type="file" name="uploader" onchange="angular.element(this).scope().load(this)"/>
    <button id="send" ng-click="upload()">Enviar</button>
</div>